<!-- rss_feed -->

<nav class="sidebar-menu">
    <a
        class="menu-link menu-link--rounded"
        href="#"
    >
        <div class="menu-link__icon-container">
            <mat-icon>forum</mat-icon>
        </div>
    </a>

    <a
        class="menu-link"
        href="#"
    >
        <div class="menu-link__icon-container">
            <mat-icon>chat</mat-icon>
        </div>
    </a>

    <a
        class="menu-link"
        href="#"
    >
        <div class="menu-link__icon-container">
            <mat-icon>group</mat-icon>
        </div>
    </a>

    <a
        class="menu-link menu-link--active"
        href="#"
    >
        <div class="menu-link__icon-container">
            <mat-icon>send</mat-icon>
        </div>
    </a>

    <a
        class="menu-link"
        href="#"
    >
        <div class="menu-link__icon-container">
            <mat-icon>adb</mat-icon>
        </div>
    </a>

    <a
        class="menu-link"
        href="#"
    >
        <div class="menu-link__icon-container">
            <mat-icon>rss_feed</mat-icon>
        </div>
    </a>

    <a
        class="menu-link"
        href="#"
    >
        <div class="menu-link__icon-container">
            <mat-icon>trending_up</mat-icon>
        </div>
    </a>

    <a
        class="menu-link"
        href="#"
    >
        <div class="menu-link__icon-container">
            <mat-icon>autorenew</mat-icon>
        </div>
    </a>

    <a
        class="menu-link"
        href="#"
    >
        <div class="menu-link__icon-container">
            <mat-icon>insert_chart</mat-icon>
        </div>
    </a>

    <div class="sidebar-menu__gap"></div>

    <a
        class="menu-link"
        href="#"
    >
        <div class="menu-link__icon-container">
            <mat-icon>search</mat-icon>
        </div>
    </a>

    <a
        class="menu-link"
        href="#"
    >
        <div class="menu-link__icon-container">
            <mat-icon>help</mat-icon>
        </div>
    </a>

    <a
        class="menu-link"
        href="#"
    >
        <div class="menu-link__icon-container">
            <mat-icon>settings</mat-icon>
        </div>
    </a>

    <a
        class="menu-link menu-link--rounded"
        href="#"
    >
        <div class="menu-link__icon-container">
            <mat-icon>text_format</mat-icon>
        </div>
    </a>
</nav>
